<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/Research">Research</a></li>
        		<li><a href="/CV/CV_Emily_Schwartz_2.20.23.pdf" target="_blank">CV</a>
        		<li><a href="/Publications">Publications</a></li>
    		</ul>
		</nav>
		<div class="container">
		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:els615b@gmail.com">email</a></li>
        		<li><a href="https://github.com/els615">link to github</a></li>
			</ul>
		</footer>
	</body>
</html>
